@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:wght@400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply bg-background font-Inter;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    @apply font-bold;
  }
}

.custom-grid {
  column-count: 1;
}

@media (min-width: 600px) {
  .custom-grid {
    column-count: 2;
  }
}

@media (min-width: 768px) {
  .custom-grid {
    column-count: 3;
  }
}
